<section th:fragment="main-screen" class="main-screen">
    <div class="left-side">
        <img th:src="@{/images/movies/main-screen.png}" alt="The Godfather">
    </div>
    <div class="right-side">
        <h1>The Godfather</h1>
        <p>Una obra maestra del cine que narra la historia de la familia Corleone y su ascenso en el mundo del crimen organizado en Nueva York.</p>
        <div class="buttons">
            <!-- Botón Ver descripción -->
            <button class="bg-black">Ver descripción</button>
            <!-- Botón Adquirir entrada -->
            <button class="bg-cyan">Adquirir entrada</button>
        </div>
    </div>
</section>








