<section th:fragment="popular" class="popular-section">
  <h3 class="section-title">POPULARES</h3>
  <div class="carousel">
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula1-P.jpeg}" alt="Película 1"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula2-P.png}" alt="Película 2"></a>
      </div>
      <div class="movie-card">
          <a href=""></a><img th:src="@{/images/movies/pelicula3-P.png}" alt="Película 3"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula4-P.jpeg}" alt="Película 4"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula5-P.jpg}" alt="Película 5"></a>
      </div>
  </div>
</section>
