<section th:fragment="releases" class="popular-section">
  <h3 class="section-title">POPULARES</h3>
  <div class="carousel">
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula1-E.png}" alt="Película 1"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula2-E.jpg}" alt="Película 2"></a>
      </div>
      <div class="movie-card">
          <a href=""></a><img th:src="@{/images/movies/pelicula3-E.jpeg}" alt="Película 3"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula4-E.jpeg}" alt="Película 4"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula5-E.jpg}" alt="Película 5"></a>
      </div>
  </div>
</section>

