<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <section th:fragment="releases" class="py-8 bg-gray-900 text-white">
    <h3 class="text-2xl font-bold mb-4 text-center">ESTRENOS</h3>
    <div class="flex space-x-2 animate-loop-scroll">
      <!-- Cada tarjeta con el efecto hover -->
      <div class="bg-gray-800 rounded-lg shadow-md w-[200px] overflow-hidden transform transition-all hover:scale-110 hover:border-4 hover:border-white hover:ring-2 hover:ring-white">
        <img th:src="@{/images/movies/pelicula1-E.png}" class="w-full h-auto rounded-lg">
      </div>
      <div class="bg-gray-800 rounded-lg shadow-md w-[200px] overflow-hidden transform transition-all hover:scale-110 hover:border-4 hover:border-white hover:ring-2 hover:ring-white">
        <img th:src="@{/images/movies/pelicula2-E.jpg}" class="w-full h-auto rounded-lg">
      </div>
      <div class="bg-gray-800 rounded-lg shadow-md w-[200px] overflow-hidden transform transition-all hover:scale-110 hover:border-4 hover:border-white hover:ring-2 hover:ring-white">
        <img th:src="@{/images/movies/pelicula3-E.jpg}" class="w-full h-auto rounded-lg">
      </div>
      <div class="bg-gray-800 rounded-lg shadow-md w-[200px] overflow-hidden transform transition-all hover:scale-110 hover:border-4 hover:border-white hover:ring-2 hover:ring-white">
        <img th:src="@{/images/movies/pelicula4-E.jpeg}" class="w-full h-auto rounded-lg">
      </div>
      <div class="bg-gray-800 rounded-lg shadow-md w-[200px] overflow-hidden transform transition-all hover:scale-110 hover:border-4 hover:border-white hover:ring-2 hover:ring-white">
        <img th:src="@{/images/movies/pelicula5-E.jpg}" class="w-full h-auto rounded-lg">
      </div>
    </div>
  </section>
</html>

