<section th:fragment="upcoming" class="popular-section">
  <h3 class="section-title">PROXIMAMENTE</h3>
  <div class="carousel">
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula1-PR.jpg}" alt="Película 1"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula2-PR.png}" alt="Película 2"></a>
      </div>
      <div class="movie-card">
          <a href=""></a><img th:src="@{/images/movies/pelicula3-PR.jpg}" alt="Película 3"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula4-PR.jpg}" alt="Película 4"></a>
      </div>
      <div class="movie-card">
        <a href=""><img th:src="@{/images/movies/pelicula5-PR.jpg}" alt="Película 5"></a>
      </div>
  </div>
</section>
