<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.w3.org/1999/xhtml">
<th:block th:replace="~{fragments/head :: head}"></th:block>

<body class="bg-black">
    <section>
        <div class="w-auto h-lvh grid grid-cols-1 lg:grid-cols-3 lg:grid-rows-1">
            <img th:src="@{/images/auth/banner_login.png}" class="h-full w-full object-cover brightness-50 lg:brightness-[86%] lg:col-span-2" alt="Fondo Login Autos">
            <div class="absolute lg:relative inset-0 text-white flex flex-col font-plus-jakarta-sans mx-6 py-6 space-y-10">
                <div class="min-[430px]:">
                    <a th:href="@{/home}" class="rounded-full border border-white w-12 h-12 flex items-center justify-center hover:text-black hover:bg-primaryHoverColor duration-200 hover:border-black"><i class="fa-solid fa-arrow-left text-2xl"></i></i></a>
                </div>
                <div class="text-center flex flex-col justify-center items-center space-y-4">
                    <img th:src="@{/images/company/logo_moview.svg}" class="h-28 w-28" alt="Logo Empresa">
                    <h2 class="text-4xl font-bold">Inicia <br> Sesión</h2>
                </div>
                <div class="space-y-12 py-8 flex flex-col items-center justify-center">
                    <div class="flex flex-col space-y-3">
                        <span class="text-xl font-semibold">Correo</span>
                        <input type="email" class="h-10 w-64 min-[430px]:w-80 bg-transparent backdrop-brightness-50 border-2 border-white rounded-md text-white px-2">
                    </div>
                    <div class="flex flex-col space-y-3">
                        <span class="text-xl font-semibold">Contraseña</span>
                        <input type="password" class="h-10 w-64 min-[430px]:w-80 bg-transparent backdrop-brightness-50 border-2 border-white rounded-md px-2 text-white">
                    </div>
                </div>
                <div class="flex items-center justify-center py-12">
                    <a  th:href="@{/movies}" class="text-xl min-[820px]:text-lg text-black px-20 py-2 min-[430px]:px-28 text-center rounded-md bg-primaryColor hover:bg-primaryHoverColor duration-150">Iniciar</a>
                </div>
                <div class="flex flex-col items-center justify-center text-center space-y-4">
                    <span class="text-lg">¿Aún no tienes una cuenta?</span>
                    <a th:href="@{/register}" class="text-lg text-primaryColor hover:text-primaryHoverColor duration-75">Registrarme</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>