<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <footer th:fragment="footer" class="h-autob w-auto bg-white p-2 space-y-8 lg:space-y-0 lg:px-4">
        <div class="text-black flex flex-col space-y-6 lg:flex-row text-center items-center lg:justify-between lg:mx-24">
            <div class="space-x-6 lg:mt-6">
                <a href="#" class="rounded-full border border-black px-4 py-3"><i class="fa-brands fa-facebook-f text-xl"></i></a>
                <a href="#" class="rounded-full border border-black px-4 py-3"><i class="fa-brands fa-instagram text-xl"></i></a>
                <a href="#" class="rounded-full border border-black px-4 py-3"><i class="fa-brands fa-x-twitter text-xl"></i></a>
                <a href="#" class="rounded-full border border-black px-4 py-3"><i class="fa-brands fa-linkedin-in text-xl"></i></a>
            </div>           
            <div class="my-8">
                <img th:src="@{images/company/logo_moview.svg}" alt="">
            </div>        
            <div class="text-base">
                <span>Copyright@ 2024 Moview. Todos los derechos reservados</span>
            </div>   
        </div>
      
    </footer>

</html>