<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

    <footer th:fragment="footer" class="h-auto w-auto py-7 lg:py-2 px-2 bg-white lg:space-y-0">
        <div class="text-black flex flex-col space-y-8 lg:space-y-0 lg:flex-row text-center items-center lg:justify-around lg:mx-24">
            <div class="space-x-6 flex">
                <a href="#" class="rounded-full border border-black h-12 w-12 flex items-center justify-center hover:text-primaryHoverColor hover:bg-black duration-200"><i class="fa-brands fa-facebook-f text-xl"></i></a>
                <a href="#" class="rounded-full border border-black h-12 w-12 flex items-center justify-center hover:text-primaryHoverColor hover:bg-black duration-200"><i class="fa-brands fa-instagram text-xl"></i></a>
                <a href="#" class="rounded-full border border-black h-12 w-12 flex items-center justify-center hover:text-primaryHoverColor hover:bg-black duration-200"><i class="fa-brands fa-x-twitter text-xl"></i></a>
                <a href="#" class="rounded-full border border-black h-12 w-12 flex items-center justify-center hover:text-primaryHoverColor hover:bg-black duration-200"><i class="fa-brands fa-linkedin-in text-xl"></i></a>
            </div>           
            <div class="">
                <img th:src="@{images/company/logo_moview.svg}" class="lg:h-24 lg:w-24" alt="#">
            </div>        
            <div class="text-base">
                <span>Copyright@ 2024 Moview. Todos los derechos reservados</span>
            </div>   
        </div>
      
    </footer>

</html>